@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #727374;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter,
.rootTLetter,
.improveOLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.whyHLetter,
.gardeningILetter,
.improveELetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

.whyYLetter,
.becauseBLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

/* DID word */

.didDLetter,
.developerDLetter,
.takeELetter,
.theyTLetter,
.toTLetter,
.frontendELetter,
.developerOLetter {
  font-size: 50px;
  font-weight: bold;
  color: #86bb2d;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Dancing Script", sans-serif;
}

.didILetter,
.frontendDLetter,
.upPLetter,
.gardeningGTwoLetter,
.exclamation-mark,
.frontendTLetter,
.theirRLetter,
.becauseSLetter {
  font-size: 90px;
  font-weight: normal;
  color: rgb(80, 49, 182);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Play", sans-serif;
}

.didDTwoLetter,
.gardeningGLetter,
.skillsSTwoLetter,
.frontendNTwoLetter,
.theirTLetter,
.developerLLetter {
  font-size: 45px;
  font-weight: bold;
  color: red;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Codystar", sans-serif;
}

/* THE word */

.theTLetter,
.gardeningNLetter,
.wantedELetter,
.hyphen,
.improvePLetter,
.takeTLetter,
.theirELetter {
  font-size: 60px;
  font-weight: 700;
  color: whitesmoke;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

.theHLetter,
.wantedTLetter,
.skillsKLetter,
.wantedALetter,
.developerPLetter,
.wantedDLetter {
  font-size: 25px;
  font-weight: normal;
  color: rgb(33, 53, 3);
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Comic Sans", sans-serif;
}

.theELetter,
.skillsILetter,
.gardeningALetter,
.rootRLetter,
.becauseULetter,
.improveMLetter {
  font-size: 100px;
  font-weight: bold;
  color: rgb(135, 13, 172);
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Gothic", sans-serif;
}

/* FRONT-END word */

.frontendFLetter,
.theirILetter,
.becauseELetter,
.developerETwoLetter,
.takeALetter,
.developerEThreeLetter,
.upULetter {
  font-size: 18px;
  font-weight: 400;
  color: rgb(124, 5, 21);
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "Segoe Script", sans-serif;
}

.frontendRLetter,
.skillsLTwoLetter,
.gardeningDLetter,
.improveVLetter,
.rootOTwoLetter,
.theyELetter {
  font-size: 75px;
  font-weight: normal;
  color: rgb(230, 55, 157);
  text-decoration: underline;
  text-transform: lowercase;
  font-family: "Piazzolla", sans-serif;
}

.frontendOLetter,
.improveILetter,
.gardeningNTwoLetter,
.becauseALetter,
.question-mark,
.theirHLetter {
  font-size: 60px;
  font-weight: 700;
  color: rgb(230, 137, 16);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

.frontendNLetter,
.gardeningRLetter,
.theyHLetter,
.becauseETwoLetter,
.rootOLetter,
.takeKLetter,
.skillsSLetter,
.developerELetter {
  font-size: 80px;
  font-weight: bold;
  color: rgb(105, 141, 117);
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Courier New", "Courier New", Courier, monospace;
}

/* DEVELOPER word */

.developerVLetter,
.developerRLetter,
.skillsLLetter,
.becauseCLetter,
.wantedWLetter {
  font-size: 35px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.gardeningELetter,
.wantedNLetter,
.toOLetter,
.theyYLetter,
.improveRLetter {
  font-size: 28px;
  font-weight: normal;
  color: rgb(241, 228, 46);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
}
